<h1><%= @user.full_name %></h1>

<section class="banner">

  <% if @user.pictures.any? %>
    <%= image_tag @user.pictures.sample.image_url %>
  <% end %>
</section>


<section class="picture-gallery">
  <div class="container">
    <% @user.pictures.each do |picture| %>


      <div class="picture-card">
        <img class="picture-img" src ="http://placehold.it/300x200">
        <!-- <div class="card_text"> -->
        <p class="caption"><%= link_to picture.caption, picture_path(picture.id) %></p>
        <!-- </div> -->
        <div class="user_text">
          <p class="user"><span>Made by</span> <%= link_to picture.user.first_name, user_path(picture.user.id) %></p>
        </div>
      </div>
      <% end %>
      </div>
</section>
