<section class="banner">
  <% if @user.pictures.any? %>
    <style type="text/css">
      .banner {
        background-image: url(<%= @user.pictures.sample.image_url %>);
      }
    </style>
  <% end %>
</section>

<h1><%= @user.full_name %></h1>

<section class="picture-gallery">

<% @user.pictures.each do |picture| %>

 <p class="picture-card">
   <%= link_to picture.caption, picture_path(picture.id) %>
   by
   <%= link_to picture.user.first_name, user_path(picture.user.id) %>
   <img class="picture-img" src ="http://placehold.it/300x250">
</p>
<% end %>

</section>
