<section class="banner">
  <% if @pictures.any? %>
    <style type="text/css">
      .banner {
        background-image: url(<%= @pictures.sample.image_url %>);
      }
    </style>
  <% end %>
</section>

<section class="picture-gallery">
  <div class="container">
    <% @pictures.each do |picture| %>

      <div class="picture-card">
        <div class="overlay">
          <p class="caption"><%= link_to picture.caption, picture_path(picture.id), class: "a_text" %></p>
          <p class="user"><span>Made by</span> <%= link_to picture.user.first_name, user_path(picture.user.id), class: "a_text" %></p>
        </div>
        <img class="picture-img" src ="http://placehold.it/300x200">
      </div>
    <% end %>
  </div>
</section>
