<%= image_tag @picture.image_url %>
<div class="picture-wrapper">
  <div class="picture-info">
    <p class="picture-caption"><%= @picture.caption %></p>
    <p class="by-line">
      By <%= @picture.user.full_name %>
      <% if @picture.taken_on? %> on <%= @picture.taken_on %><% end %>
    </p>
  </div>
</div>
