/* =================================
  Colors
==================================== */

$white: #EFEFEF;
$orange: #eea044;
$grey: #5b5b5b;

/* =================================
  Box sizing
==================================== */
* {
  box-sizing: border-box;
}

/* =================================
  General styles
==================================== */

footer {
  display: flex;
  justify-content: space-around;
}

.container {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  max-width: 960px;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* =================================
  Typography
==================================== */
body {
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

h1 {
  text-align: center;
  a {
    color: $grey;
  }
}

a {
  color: $grey;
  font-weight: 400;
  font-size: 14px;
  display: block;
}

.button {
  display: inline-block;
  color: $white;
  background-color: $grey;
  padding: 10px;
  border-radius: 4px;
  &:hover {
    background-color: #333;
  }
}
.button-danger {
  background-color: #666;
}
.button-default {
  background-color: #666;
}
.button-warning {
  background-color: #666;
}

/* =================================
  Forms
==================================== */
form {
  width: 40%;
}
input {
  width: 100%;
}
input[type=submit] {
  width: 100px;
}
label {
  display: block;
  font-weight: 700;
}
.form-wrapper {
  display: flex;
  justify-content: center;
}
.form-2-cols {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  .flex-right {
    align-self: flex-end;
  }
}




/* =================================
  Navigation
==================================== */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 940px;
  width: 100%;
  margin: 0 auto;

  nav {
    list-style-type: none;
    padding: 0;
    display: flex;
    overflow: hidden;
    align-items: center;
    li {
      margin-left: 20px;
    }
    a {
      color: $grey;
      font-size: 16px;
      font-weight: bold;
      &:hover {
        color: $orange;
      }
    }
  }

  .header-left {
    display: flex;
    align-items: center;
    margin: 10px 0;

    .header-name {
      text-transform: uppercase;
      font-weight: 700;
      text-size: 20px;
    }

    .logo {
      display: flex;
      align-items: center;
      height: 30px;
      width: 55px;
      margin-left: -20px;
    }
  }

  .header-right {
    display: flex;
    align-items: center;

    a {
      display: flex;
      align-items: center;

      .addIcon {
        height: 30px;
        width: 30px;
      }
    }

    .users {
      font-size: 16px;
      line-height: 30px;
      font-weight: 400;
    }
  }
}

@media screen and (max-width: 650px) {
  header  {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}

/* =================================
  Banner
==================================== */
.banner {
  position: relative;
  background-color: #D32F2F;
  background: linear-gradient(to top, #D32F2F, #B30F0F);
  background-position: center center;
  background-size: cover;
  color: $white;
  padding: 0;
  margin: 0;
  text-align: center;
  height: 340px;
}

/* =================================
  Gallery
==================================== */
.picture-gallery {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.picture-card {
  position: relative;
  background-color: $white;
  max-width: calc(100%/3 - 20px);
  height: 200px;
  margin: 10px;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 4px;
  overflow: hidden;

  .overlay {
    position: absolute;
    opacity: 0;
    height: 200px;
    width: 300px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.3s;

    // &:hover {
    //   opacity: 1;
    // }

    .caption {
      position: absolute;
      left: 10px;
      top: -5px;
      line-height: normal;
      color: $white;
      font-weight: 300;
    }

    .user {
      position: absolute;
      color: $orange;
      text-align: right;
      position: absolute;
      right: 15px;
      bottom: -5px;
    }

  }

  .picture-img {
    margin: 0 auto;
    width: 300px;
  }

  span {
    color: $white;
    font-weight: 300;
  }
}


/* =================================
  Users
==================================== */
.users-new {
  text-align: center;
}
.users-list {
  flex: 0;
  flex-basis: 600px;
  list-style-type: none;
  h2 {
    margin: 0;
  }
  .user {
    padding: 10px;
    margin: 10px 0;
    box-shadow: 1px 1px 3px #666;
    border-radius: 4px;
  }
  .users-actions {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .flex-left {
    align-self: flex-start;
  }
  .flex-right {
    align-self: flex-end;
  }
}

/* =================================
  Pictures
==================================== */
.picture-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
img {
  width: 100%;
  height: 100%;
}
.picture-info {
  position: absolute;
  width: 100%;
  height: 50px;
  top: -50px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  color: $white;
  display: flex;
  justify-content: space-between;
}
.picture-caption {
  font-weight: 300;
  align-self:flex-start;
  margin-left: 30px;
}
.by-line {
  font-weight: 300;
  align-self: flex-end;
  margin-right: 30px;
  a {
    display: inline;
    color: $orange;
  }
}


/* =================================
  Footer
==================================== */
footer {
    background-color: $grey;
    color: $white;
    text-align: center;
    padding: 20px;
  }
